/* //////////////////// VARS //////////////////// */
:root{
    --text-color: #322F2E;
    --blue-color: #B7CAD6;
    --brown-color: #EDA093;
    --green-color: #EAE9D6;
}
/* ////////////////////////////////////////////// */

/* //////////////////// FONTS //////////////////// */
@font-face {
    font-family: 'Rebeqa';
    src: url('fonts/Rebeqa-Black.ttf') format('truetype'),
        url('fonts/Rebeqa-Black.otf') format('opentype');
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Rebeqa';
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
/* /////////////////////////////////////////////// */

/* --> REST HERE <-- */